*.pyc
*.png
*.npy
*.h5
*.p
*/numpy/*
*/dist/*
*/misc/*
*sim_info.txt
*/png/*
*/build/*
*.zip
*/.shared_libraries/*
*.o
*.e
*OUTPUT*
*DS_Store*
*.obj
/1d_cpp/doc/manual/*
/oshun-development/
/1d_cpp/bin/*
/1d_cpp/tmp/*
*.m~
*.dat

1d_cpp/version.txt